@(form: Form[org.iatoki.judgels.sandalphon.forms.grading.BatchGradingConfigForm], problem: org.iatoki.judgels.sandalphon.ProgrammingProblem, filenames: List[String])

@import play.i18n.Messages
@import org.iatoki.judgels.sandalphon.controllers.routes

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

<script type="text/javascript" src="@controllers.routes.Assets.at("lib/jquery/jquery.min.js")"></script>

<script type="text/javascript">

$(document).ready(function() {

    var testSetTemplate = $('#test-set-template');
    var testCaseTemplate = $('#test-case-template');
    var testSetSubtaskTemplate = $('#test-set-subtask-template');

    var testSetAddButton = $('#test-set-add');

    function addTestSetSubtask(setNo, subtaskNo, checked) {
        var testSetSubtask = testSetSubtaskTemplate.clone().removeAttr('id');
        testSetSubtask.find('input')
                .val(subtaskNo)
                .attr('name', 'testSetSubtasks[' + setNo + '][' + subtaskNo + ']')
                .attr('checked', checked);
        testSetSubtask.find('span').html(subtaskNo + 1);
        $('#test-set-' + setNo).find('div').last().append(testSetSubtask);
    }

    function addTestCase(setNo, caseNo, inputVal, outputVal) {
        var testCase = testCaseTemplate.clone().removeAttr('id');

        // Update input values
        testCase.find('input').first()
                .attr('name', 'testCaseInputs[' + setNo + '][' + caseNo + ']')
                .val(inputVal);

        testCase.find('input').last()
                .attr('name', 'testCaseOutputs[' + setNo + '][' + caseNo + ']')
                .val(outputVal);

        // Append this test case
        $('#test-set-' + setNo).find('tr').last().before(testCase);

        // Update add test case button
        $('#test-case-add-' + setNo).off('click').on('click', function() {
            addTestCase(setNo, caseNo + 1, $('#test-case-in-new-' + setNo).val(), $('#test-case-out-new-' + setNo).val());
            return false;
        });
    }

    function addTestSet(setNo) {
        var testSet = testSetTemplate.clone().attr('id', 'test-set-' + setNo);

        // Remove test case template
        testSet.find('tbody tr').first().remove();

        // Change panel heading
        testSet.find('span').first().html('Test Set ' + (setNo+1));

        // Update test case inputs
        testSet.find('select').first().attr('id', 'test-case-in-new-' + setNo);
        testSet.find('select').last().attr('id', 'test-case-out-new-' + setNo);

        // Update add test case button
        testSet.find('a').last().attr('id', 'test-case-add-' + setNo).on('click', function() {
            addTestCase(setNo, 0, $('#test-case-in-new-' + setNo).val(), $('#test-case-out-new-' + setNo).val());
            return false;
        });

        // Update add test set button
        testSetAddButton.off('click').on('click', function() {
            addTestSet(setNo + 1);
            for (var i = 0; i < 10; i++) {
                addTestSetSubtask(setNo + 1, i, false);
            }
        });


        // Remove test set subtasks template
        testSet.find('div').last().empty();

        testSetAddButton.before(testSet);
        testSet.show();
    }

    testSetAddButton.on('click', function() {
        addTestSet(0);
        for (var i = 0; i < 10; i++) {
            addTestSetSubtask(0, i, false);
        }
    });

    @for(i <- 0 until form.get.testCaseInputs.size) {
        addTestSet(@i);
        @for(j <- 0 until form.get.testCaseInputs.get(i).size) {
            addTestCase(@i, @j, '@form.get.testCaseInputs.get(i).get(j)', '@form.get.testCaseOutputs.get(i).get(j)');
        }
        @for(j <- 0 until 10) {
            @if(form.get.testSetSubtasks.get(i).get(j) != null) {
                addTestSetSubtask(@i, @j, true);
            } else {
                addTestSetSubtask(@i, @j, false);
            }
        }
    }
});

</script>

@b3.form(routes.ProgrammingProblemController.postUpdateGrading(problem.getId)) {
    @helper.CSRF.formField


    @b3.inputWrapped("timeLimit", form("timeLimit"), '_label -> "Time Limit") { input =>
        <div class="input-group">
            @input
            <div class="input-group-addon">milliseconds</div>
        </div>
    }
    @b3.inputWrapped("memoryLimit", form("memoryLimit"), '_label -> "Memory Limit") { input =>
        <div class="input-group">
            @input
            <div class="input-group-addon">kilobytes</div>
        </div>
    }

    <div class="row" style="margin-bottom: 10px;">

        <div class="col-md-3">
            <label class="control-label">Test Data</label>
        </div>

        <div class="col-md-9">

            <button id="test-set-add" class="btn btn-primary btn-xs" type="button">Add Test Set</button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Subtasks</label>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Points</th>
                                <th>Param</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(i <- 0 until 10) {
                                <tr>
                                    <td>
                                    @{i+1}
                                    </td>
                                    <td>
                                        @b3.text(form("subtaskPoints[" + i + "]"), '_label -> None)(b3.clear.fieldConstructor, implicitly[Lang])
                                    </td>
                                    <td>
                                        @b3.text(form("subtaskParams[" + i + "]"), '_label -> None)(b3.clear.fieldConstructor, implicitly[Lang])
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}


<div id="test-set-template" class="panel panel-default" style="display: none">
    <div class="panel-heading">
        <span>Test Set 0</span> <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Input</th>
                    <th>Output</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr id="test-case-template">
                    <td>
                        <input class="form-control input-sm" type="text" readonly="readonly" value="file_0_0.in" />
                    </td>
                    <td>
                        <input class="form-control input-sm" type="text" readonly="readonly" value="file_0_0.out" />
                    </td>
                    <td class="text-center">
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>

                <tr class="active">
                    <td>
                        <select>
                            @for(filename <- filenames) {
                                <option value="@filename">@filename</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select>
                            @for(filename <- filenames) {
                                <option value="@filename">@filename</option>
                            }
                        </select>
                    </td>
                    <td class="text-center">
                        <a href=""><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr />


        <p>Assign to subtasks:</p>
        <div>
            <label id="test-set-subtask-template" class="checkbox-inline">
                <input type="checkbox"> <span>0</span>
            </label>
        </div>
    </div>
</div>
